DB_DSN='mysql:host=localhost;dbname=myapp'
DB_USERNAME='root'
DB_PASSWORD=''
APP_NAME='My App Boilerplate'
APP_DESC='Custom Action-Domain-Responder Framework'
APP_TIMEZONE='UTC'
APP_VERSION='1.0.0'
APP_ENV='dev'
MAILER_HOST='localhost'
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_PORT=1025
MAILER_ENCRYPTION=
BREVO_API_KEY=
